.progress-bar {
  display: block;
  position: relative;
  width: 200px;
  height: 10px;
}

.progress-bar-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.progress-bar-progress {
  display: block;
  position: relative;
  margin: 0px;
  width: 0px;
  height: 100%;
  background-color: black;
  transition-property: width;
  transition-duration: .3s;
}