.progress-bar {
  display: block;
  position: relative;
  width: 200px;
  height: 10px;
}

.progress-bar-progress {
  display: block;
  position: relative;
  margin: 0px;
  width: 0px;
  height: 100%;
  background: var(--primary-gradient);
  transition-property: width;
  transition-duration: .3s;
}